@charset "UTF-8";

*,*::before,*::after{box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;-webkit-text-size-adjust:100%;}
*[hidden]{display:none!important;}
a,address,b,blockquote,body,button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,hr,html,i,input,ins,legend,li,menu,ol,p,td,textarea,th,var,video,ul{margin:0;padding:0;outline:none;text-decoration:none;font-size:1em;font-style:normal;font-weight:inherit;font-family:inherit;text-align:inherit;color:inherit;}
button,fieldset,hr,img,input,textarea{border:none;background-color:transparent;}
button::-moz-focus-inner{border:0;}
footer,header,main{display:block;}
li{list-style:none;}

html{height:100%;-webkit-tap-highlight-color:transparent;}
body{text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;}
body > svg{position:absolute;}
svg,symbol{overflow:visible;fill:currentColor;}
button{overflow:visible;}
button,input,textarea{line-height:inherit;}
b{font-weight:600;}
p,
ul,
ol{margin:1em 0;}
p:first-child,
ul:first-child,
ol:first-child{margin-top:0;}
p:last-child,
ul:last-child,
ol:last-child{margin-bottom:0;}
video,
img{display: block;width:100%;max-width:100%;}
*{transition: 0.3s;}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 26px 0;
    z-index: 4;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Campton Bold', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #F44336;
    white-space: pre-line;
    width: 89px;
    height: 48px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo div:first-child {
    padding-right: 8px;
    border-right: 0.5px solid rgba(244, 67, 54, 0.66)
}

.logo div:last-child {
    padding-left: 8px;
    border-left: 0.5px solid rgba(244, 67, 54, 0.66)
}

.btn-menu {
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.btn-menu__line1, .btn-menu__line2, .btn-menu__line3 {
    position: absolute;
    height: 1px;
    background-color: black;
    transition: 0.6s;
    right: 0;
}

.btn-menu__line1 {
    top: 6.5px;
    width: 100%;
}

.btn-menu__line2 {
    top: 14.5px;
    width: 70%;
}

.btn-menu__line3 {
    width: 40%;
    top: 22.5px;
}

.btn-menu:hover .btn-menu__line2 {
    width: 100%;
}

.btn-menu:hover .btn-menu__line3 {
    width: 0;
    opacity: 0;
}

.line-close-menu {
    background-color: white;
    opacity: 0.6;
}

.close-line-menu-top {
    top: 0;
    transform: rotate(45deg) translateY(-50%);
    margin-top: 50%;
    width: 100%;
}

.close-line-menu-bottom {
    top: 0;
    transform: rotate(-45deg) translateY(-50%);
    margin-top: 50%;
    width: 100%;
}

.btn-menu:hover .line-close-menu {
    opacity: 1;
}

.close-line-menu-hide {
    opacity: 0;
}

.container-nav-links {
    position: fixed;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    background: rgba(248, 66, 58, 0.92);   
    backdrop-filter: blur(16px);
    padding-left: 56px;
    transition: 1s;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    border-right: 0.5px solid rgba(255, 255, 255, 0.2);
}

.nav-links-open {
    transform: translateX(0);
}

.nav-links__item {
    font-family: 'Cormorant';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 0.12em;
    text-align: left;
    margin-bottom: 54px;
    padding-left: 6px;
    color: white;
}

.nav-links__item:last-child {
    margin-bottom: 0;
}

.nav-links__item:hover small {
    margin-right: 30px;
}

.nav-links__item small {
    font-family: 'Oswald';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.12em;
    text-align: left;
    margin-right: 6px;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 56px;
    width: 50%;
}

.social-link {
    position: relative;
    color: rgba(255, 255, 255, 0.66);
    margin-bottom: 30px;
    transition: 0.6s ease-out;
}

.social-link:last-child {
    margin-bottom: 0;
}

.footer {
    position: relative;
    background: rgba(17, 16, 16, 0.95);
}

.footer-row {
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-font-awesome {
    display: flex;
}

.icon-font-awesome__item {
    font-size: 20px;
    margin-right: 14px;
    transition: 0.4s;
    color: rgba(244, 67, 54, 0.5);
}

.icon-font-awesome__item:last-child {
    margin-right: 0;
}

.icon-font-awesome__item:hover {
    color: #F44336;
}

.copyter {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: rgba(244, 67, 54, 0.5);
}