.wrapper-fullscreen {
    min-height: 100vh;
    overflow: hidden;
}

.fullscreen {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-title {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}

.bg-title {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: -50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.main-title {
    position: relative;
    font-family: 'Cormorant';
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
}

.btn {
    position: relative;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.38em;
    text-transform: uppercase;
    display: inline-block;
    line-height: 38px;
}

.btn::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(244,67,54,0.64);
    bottom: 0;
    left: 0;
    transition: transform 0.6s ease-out;
}

.btn:hover:after {
    transform: scaleX(1.2);
}

.social-link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.66);
    bottom: 0;
    left: 0;
    transition: 0.6s ease-out;
}

.social-link:hover:after {
    transform: scaleX(1.2);
    background-color: rgba(255, 255, 255, 1);
    transition: 0.6s ease-out;
}

.social-link:hover {
    color: rgba(255, 255, 255, 1);
    transition: 0.6s ease-out;
}